*{padding: 0;margin: 0; box-sizing: border-box;}

/* Commited to Success */
.CTSImage {
    background-image: url("https://i.ibb.co/V9Ck6qs/photo-1593642532842-98d0fd5ebc1a-ixlib-rb-1-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    margin-bottom: 100px;  
}

 /* .navhide2{
display: none;
} */

/* @media(:0){
    .navhide2{
        height: 100%;
        position: sticky;
    }
} */

.CTSImage .CTSImageText{
    padding: 20vh 5vw;
    background-color: transparent;
    width: 60%;
}

.CTSImage .CTSImageText h1{
    font-size: 85px;
    line-height: 1.4;
    text-shadow: 0px 2px, 2px 0px, 2px 2px;
  font-weight: bolder;
  color: #212025;
    font-family: "Rubik",sans-serif;
    margin-bottom: 30px;
}
.CTSImage .CTSImageText span{
    font-size: 23px;
    font-family: "Josefin Sans",sans-serif;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
    color: #3957ff;
    display: inline-flex !important;
}
.CTSImage .CTSImageText span hr{
    width: 100px;
    background-color: #3957ff;
    height: 1px;
    margin-right: 30px;

}

.CTSImage .CTSImageText p{
    font-size: 28px;
    color: #212025;
    font-family: "Roboto",sans-serif;
    margin-bottom: 50px;
}

.LearnBtn1 a{
    text-decoration: none;
    cursor: pointer;
    padding: 30px 50px;
    text-transform: capitalize;
    font-family: "Josefin Sans",sans-serif;
    color: #fff;
    display: inline-block;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 2px;
    width: 317px !important;
}

.LearnBtn1 { 
    position: relative; 
    width: 317px;
    background: #112957 !important;
    color: #fff;
}
   
 .LearnBtn1 .overlay1{
    width: 0;
    transition: 0.2s ease;
    background-color: #3957ff !important;
    color: #fff;  
   
}

.LearnBtn1:hover > .overlay1 {
    height: 100%;
    width: 100%;
    display: block;
} 

@media(max-width:1500px){
    .CTSImage .CTSImageText{
        width: 80%;
    }
    .CTSImage .CTSImageText h1{
        font-size: 60px;
        text-shadow: 0px 1.5px, 1.5px 0px, 1.5px 1.5px;
    }
    .CTSImage .CTSImageText span{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;

    }
    .CTSImage .CTSImageText h3 p{
        font-size: 24px;
        margin-bottom: 45px;
    }
}

@media(max-width:1200px){
    .CTSImage .CTSImageText{
        width: 70%;
    }
    .CTSImage .CTSImageText h1{
        font-size: 45px;
        text-shadow: 0px 1px, 1px 0px, 1px 1px;
    } 
    .CTSImage .CTSImageText span{
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 18px;
    }
    .CTSImage .CTSImageText h3 p{
        font-size: 22px;
        margin-bottom: 45px;
    }
    .CTSImage .CTSImageText span hr{
        width: 80px;
        height: 1px;
        margin-right: 30px;
    }
}
@media(max-width:600px){
    .CTSImage .CTSImageText{
        width: 100%;
    }
    .CTSImage .CTSImageText h1{
        font-size: 35px;
        text-shadow: 0px 1px, 1px 0px, 1px 1px;
    } 
    .CTSImage .CTSImageText span{
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 16px;
    }
    .CTSImage .CTSImageText p{
        font-size: 14px;
    }
    .LearnBtn1 a{
        font-size: 18px !important;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 25px;
        color: #fff !important;
    }
    .LearnBtn1 {
        width: 190px;
    }
    .CTSImage .CTSImageText span hr{
        width: 60px;
        height: 0.5px;
        margin-right: 20px;
    }

    .PACard .singleCat .catCap h3 p{
        margin-bottom: 23px;
        font-size: 20px !important;
        line-height: 30px;
    }

    .PACard .singleCat .catCap h3 a{
        font-size: 25px !important;
        font-weight: 600;
        margin-bottom: 20px !important;
    }
}





.PACard{
    border: 1px solid #ddd;
    background: #ffff;
    margin: 0 5px 50px 5px;
    padding: 7vh 3%;
}

.PACard .singleCat .catIcon{
    color: #3957ff;
    font-size: 55px;
    margin-bottom: 24px;
    display: block;
}

.PACard .singleCat .catCap h3 a{
    font-family: "Roboto",sans-serif;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 31px;
    color: #250051;
    display: block;
    text-decoration: none;
}

@media only screen  and (max-width:1600px) and (min-width:992px){
    .PACard .singleCat .catCap h3 p{
        margin-bottom: 23px;
        font-size: 20px !important;
        line-height: 30px;
    }
    .PACard .singleCat .catCap h3 a{
        font-size: 25px !important;
        font-weight: 600;
        margin-bottom: 20px !important;
    }
}


.PACard .singleCat .catCap p{
    margin-bottom: 36px;
    color: #57667e;
    font-size: 26px;
    line-height: 40px;
}

.PACard .singleCat .catCap a{
    font-family: "Josefin Sans",sans-serif;
    color: #5d6072;
    font-size: 23px;
    font-weight: 400;
    text-decoration: none;
}

.PACard:hover a{
    color: #3957ff;
}

.ourPracticingArea{
    padding: 5vh 5% 0 5%;
}

@media(max-width:800px){
    .ourPracticingArea{
        padding: 5vh 0 0 0;
    }
     .OPAImageText span h3{
        font-size: 18px;
    }
    .OPAImageText span hr{
        width: 60px;
        height: 1px;
        margin-right: 20px;
    }
     .OPAImageText h1{
        font-size: 35px !important;
    }
}
 .OPAImageText{
    width: 50%;
    padding-left: 15px;
    padding-bottom: 3vh;
}
@media(max-width:1391px){
     .OPAImageText{
        width: 90%;
    } 
}

 .OPAImageText span{
    font-size: 24px;
    font-family: "Josefin Sans",sans-serif;
    font-weight: 500;
    margin-bottom: 3vh;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3957ff;
    display: inline-flex !important;
}

 .OPAImageText span hr{
    width: 100px;
    background-color: #3957ff;
    height: 1.5px;
    margin-right: 30px;
}

 .OPAImageText h1{
    font-size: 60px;
    display: block;
    color: #092c3f;
    font-weight: 500;
  font-family: "Josefin Sans",sans-serif;
}


            /* Our Lawyer */

.ourPracticingArea .singleTeam{
    margin: 30px 10px;
}
.ourPracticingArea .singleTeam .teamImgTop{
    overflow: hidden;   
}
.ourPracticingArea .singleTeam .teamImg img{
    width: 100%;
    transition: transform 0.9s;
}

.ourPracticingArea .singleTeam .teamImg:hover img{
    transform: scale(1.2);
 }

.ourPracticingArea .singleTeam .teamCaption{
    background-image: url("http://demo2.themelexus.com/worldlife/wp-content/uploads/2019/07/h2-bg01.jpg");
    text-align: center;
    background-position: center;
    background-size: cover;
    padding: 30px 0;
}

.ourPracticingArea .singleTeam .teamCaption a{
    color: #161e46;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 2px;
    font-family: "Josefin Sans",sans-serif;
    text-decoration: none;
}

.ourPracticingArea .singleTeam .teamCaption span{
    color: #3957ff;
    font-size: 22px;
    font-weight: 300;
    font-family: "Josefin Sans",sans-serif;
    display: block;
    margin-bottom: 10px;
    display: inline-flex !important;
}

.ourPracticingArea .singleTeam .teamCaption span hr{
    width: 60px;
    background-color: #3957ff;
    height: 1px;
    margin-right: 30px;
}

/* about our law Agency */

.aboutLawAgcy{
    margin: 20vh 0 0 0; 
}
.aboutLawAgcy .ALAImg img{
    width: 100%;
    height: 132vh;
}

.ALACol2{
    background-color: #3957ff; 
    width: 100%;
    padding: 10vh 5%;
}

.aboutDetails .aboutMore p.peraTop{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 40px;
    font-family: "Roboto",sans-serif;

}


.aboutDetails .aboutMore p.peraBottom{
    font-size: 24px;
    color: #cecece;
    font-family: "Roboto",sans-serif;
    line-height: 40px;
    margin-bottom: 65px;
   
}
@media (max-width:1200px){
    .aboutLawAgcy .ALAImg img{
        width: 100%;
        height: 90vh;
    }
}
@media (max-width:800px){
    .aboutDetails .aboutMore p.peraTop{
        margin-bottom: 20px;
        font-size: 23px !important;
        font-weight: 400;
    }
    .aboutDetails .aboutMore p.peraBottom{
        margin-bottom: 45px;
        font-size: 18px !important;
        line-height: 30px;
    }
}


/* Are you Searching For a First-Class Consultant? */

.fCConsultant{
    background-color: #3957ff;
    padding: 10vh 7%;
    margin: 200px 0;
}

.fCConsultant .wantToWorkCaption{
width: 70%;
}
@media(max-width:1650px){
    .fCConsultant .wantToWorkCaption{
        width: 90%;
        }
        .fCConsultant .wantToWorkCaption h2{
            font-size: 48px !important;
            font-weight: 600;
            line-height: 1.2;
        }
}
@media (max-width:600px){
    .fCConsultant .wantToWorkCaption{
        width: 100%;
        }
        .fCConsultant .wantToWorkCaption h2{
            font-size: 30px !important;
            font-weight: 400;
            line-height: 1;
        }
}
.fCConsultant .wantToWorkCaption h2{
    color: #fff;
    font-size: 68px;
    font-weight: 800;
    line-height: 1.6;
    font-family: "Josefin Sans",sans-serif;
}



            /* Our Recent Work */

.recentWorkDiv{
    margin: 100px 0;
}
.recentWorkDiv .ourPracticingArea .OPAImageText{
    width: 100%;
}


.recentWorkDiv .ourPracticingArea .propertiesButton a{
    padding: 150px 20px 0px 20px;
    display:block;
    color: #8f8f96;
    text-transform: capitalize;
    font-size: 26px;
    text-decoration: none;

}

@media(max-width:1350px){
    .recentWorkDiv .ourPracticingArea .propertiesButton a{
        padding: 0 20px 40px 20px;
    } 
}

.recentWorkDiv .ourPracticingArea .propertiesButton a.navItem3{
    color: #3957ff;
}
 .ourPracticingArea .colmn{
     margin: 0 10px 5vh 10px;
     padding-bottom: 18vh;
     position: relative;
 }

 .singleServices{
     width: 100%;
 }
.singleServices .servicesImg img{
    width: 100%;
    position: relative;
}

.ourPracticingArea .singleServices .servicesCaption{
    padding: 50px 0 50px 40px;
    background-image: url("http://demo2.themelexus.com/worldlife/wp-content/uploads/2019/07/h2-bg01.jpg");
    background-position: center;
    background-size: cover;
    width: 80%;
    position: absolute;
    top: 60%;
}
@media(max-width:1700px) and (min-width:1200px) {
    .ourPracticingArea .singleServices .servicesCaption{
        width: 96%;
        padding: 10px;
    }
    .ourPracticingArea .singleServices .servicesCaption p a{
        font-weight: 400;
        font-size: 26px !important;
        line-height: 1.3;
    }
}

@media(max-width:800px){
    .ourPracticingArea .singleServices .servicesCaption{
        width: 80%;
        padding: 10px 0;
        top: 60%;
    }

}
@media(max-width:600px){
    .ourPracticingArea .singleServices .servicesCaption{
        width: 96%;
        padding: 10px 0;
        top: 45%;
    }

    .recentWorkDiv .ourPracticingArea .propertiesButton a{
        padding: 0 20px 20px 20px;
        font-size: 20px !important;
    }
    .ourPracticingArea .singleServices .servicesCaption p a{
        font-weight: 400;
        font-size: 26px !important;
        line-height: 1.3;
    }
}

.ourPracticingArea .singleServices .servicesCaption span{
    color: #3957ff;
    font-size: 22px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    display: block;
    line-height: 20px;
    margin-bottom: 20px;
    display: inline-flex !important;
}

.ourPracticingArea .singleServices .servicesCaption span hr{
    width: 60px;
    background-color: #3957ff;
    height: 1.3px;
    margin-right: 30px;
    vertical-align: middle;
}

.ourPracticingArea .singleServices .servicesCaption p a{
    color: #0e132a;
    font-weight: 400;
    display: block;
    font-size: 30px;
    line-height: 1.5;
    font-family: "Roboto",sans-serif;
    text-decoration: none;

}

.ourPracticingArea .singleServices .servicesCaption p a:hover{
    color: #3957ff;
}


       /* FILL UP TO GET A QOTE */

       .fillUpToGet{
           margin: 0 0 40vh 0;
       }
.fillUpToGet .fUTGImg{
    position: relative;
}
.fillUpToGet .fUTGImg img{
 width: 100%;
 height: 120vh;
}


.fillUpToGet .fUTGImg .fUTGForm {
    position: absolute; 
    top: 200px;
    width: 100%;
}
.fillUpToGet .fUTGImg .fUTGForm .fUTGFormContainer {
    background-color: #3957ff;
    padding: 100px 70px;
    margin: 0 15%;
}
@media(max-width:1000px){
    .fillUpToGet .fUTGImg img{
        width: 100%;
        height: 130vh;
       }
       .fillUpToGet .fUTGImg .fUTGForm .fUTGFormContainer {
        margin: 0 4%;
        padding: 70px 40px;
    }
}

.fillUpToGet .fUTGImg .fUTGForm .fUTGFormContainer .form-control{
    background: #f7f7f7;
    height: 70px;
    width: 100%;
    padding: 5px 25px;
    border: 0;
    color: #a3a3a3;
    font-weight: 500;
    font-size: 26px;
    text-transform: capitalize;
    border-radius: 0px;
    margin: 0 0 45px 0;
}
.fillUpToGet .fUTGImg .fUTGForm .fUTGFormContainer Button{
    background: #112957;
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    border: 0;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 26px;
    border-radius: 0px;
}


.colm{
    margin-bottom: 10vh;
}
.ITGCaption{
    background-image: url("https://i.ibb.co/V9Ck6qs/photo-1593642532842-98d0fd5ebc1a-ixlib-rb-1-2.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 50vh;
}

 .ITGCaption ul li{
    font-size: 24px;
    font-family: "Josefin Sans",sans-serif;
    font-weight: 300;
    color: #011548;
    padding: 20px 30px 20px 40px;
    background: #fff;
   list-style-type: none;
   width: 80%;
}

@media(max-width:700px){
    .ITGCaption ul li{
        font-size: 18px;
        padding: 15px 30px 10px 40px;
    }
    .blogCap p{
        font-size: 20px !important;
        margin-bottom: 23px !important;
    }
    .blogCap h3 a{
        font-size: 24px !important;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 17px;
    }
    .ITGCaption{
        padding-top: 30vh;
    }
}

@media only screen and (max-width:1500px) and (min-width:1200px){
    .ITGCaption ul li{
        font-size: 18px;
        padding: 15px 30px 10px 40px;
    }
    .blogCap p{
        font-size: 20px !important;
        margin-bottom: 23px !important;
    }
    .blogCap h3 a{
        font-size: 24px !important;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 17px;
    }
    .ITGCaption{
        padding-top: 30vh;
    }
}

 .blogCap{
    background-image: url("http://demo2.themelexus.com/worldlife/wp-content/uploads/2019/07/h2-bg01.jpg");
    background-position: center;
    background-size: cover;
    padding: 5vh 2vw 5vh 4vw ;
}

 .blogCap h3 a{
    color: #191d34;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;
    display: block;
    font-family: "Josefin Sans",sans-serif;
    text-decoration: none;
}
.blogCap h3 a:hover{
    color: #3957ff;
}

 .blogCap p{
    color: #737980;
    font-size: 26px;
    margin-bottom: 30px;
}
.blogCap .moreBtn span{
    display: inline-flex !important;
}
.blogCap .moreBtn span hr{
    width: 60px;
    height: 1.5px;
    background-color: #3957ff;
}
.blogCap .moreBtn{
    color: #3957ff;
    text-transform: capitalize;
    font-size: 24px;
    font-family: "Josefin Sans",sans-serif;
    text-decoration: none ;
}

.OJCarousel{
    background-color: #3957ff;
    padding: 250px 100px;
    margin: 10vh 0 10vh 0;
} 

@media(max-width:1000px){
    .OJCarousel{
        padding: 50px 0px;
    }
    .founderImg img{
        width:5vh;
    }

}
.testimonialCaption{
    background-color: #3957ff;
}

.testimonialCaption .testimonialTopCap p{
    line-height: 1.5;
    margin: 50px 0;
    font-size: 24px;
    color: #d3d3d4;
    font-weight: 300;
    font-family: "Roboto",sans-serif;
}

.testimonialCaption  .founderText span{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-align: center!important;
    font-family: "Roboto",sans-serif;
}

.testimonialCaption  .founderText p{
    color: #57667e;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    font-size: 22px;
        font-family: "Roboto",sans-serif;
}


